{{={[ ]}=}}

<div class="row">
	<div class="col-lg-12">
		<h2><b>{{project.name}}</b>: Modules</h2>
		<hr/>
		<div class="alert alert-success alert-dismissable">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<b>Modules</b> are the applications inside a project. This modules conform a system.
		</div>
	</div>
</div>


<table class="table table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th>Properties</th>
			<th class="text-center">Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="module in modules | orderBy:'name'">
			<td><a href="#/project/{{project.id}}/module/{{module.id}}/properties">{{module.name}}</a></td>
			<td>{{module.description}}</td>
			<td><span class="badge">{{module.propertiesAmount}}</span></td>
			<td class="text-center actions">
				<a href="#/project/{{project.id}}/module/{{module.id}}" title="Edit"> <i class="fa fa-pencil-square-o"></i> </a>
				<a href="javascript:void(0)" title="Delete" ng-click="delete(module)"> <i class="fa fa-times-circle"></i> </a>
			</td>
		</tr>
		<tr>
			<td colspan="3"></td>
			<td>
				<div class="row">
					<div class="col-md-offset-4 col-md-4">
						<button class="btn btn-sm btn-primary btn-block" type="button" ng-click="add()">Add</button>
					</div>
				</div>
			</td>
		</tr>
	</tbody>
</table>

