{{=|{ }|=}}

<div class="row-fluid data-panel">
	<div class="span1"></div>
	<div class="span10 data-main-column">
		<div ng-controller="PropertyListCtrl">
			<h3>Module Properties:</h3>

			<hr />

			<div class="row-fluid">
  				<div class="span1"></div>
 				<div class="span10">
					
					<tabs>
						<pane heading="Static title">Static content</pane>
						<pane ng-repeat="enviroment in enviroments" heading="{{enviroment.name}}">{{enviroment.description}}

					<table class="table table-hover" style="margin-bottom: 20px;">
		              <thead>
		                <tr style="color: black">
		                  <th># Property Name</th>
		                  <th style="padding: 10px 0px 0px 0px;">
							<ul class="nav nav-tabs" style="border-bottom: 0px; margin-bottom: 0px;">
  								<li ng-repeat="enviroment in enviroments | orderBy:name" ng-class="{active: enviroment.name == 'Local'}">
    								<a href="#">{{enviroment.name}}</a>
  								</li>
  							</ul>
		                  </th>
		                </tr>
		              </thead>
		              <tbody>
		                <tr>
		                  <td>cars.chas.activity.my_sql.max_connextions</td>
		                  <td></td>
		                </tr>
		                <tr>
		                  <td>cars.sm.cassandra.table.availability.default_timeout</td>
		                  <td></td>
		                </tr>
		                <tr>
		                  <td>logger.path</td>
		                  <td></td>
		                </tr>
		              </tbody>
		            </table>
			        <form name="newPropertyForm">
						<table class="table table-striped table-borderless" style="background-color: whiteSmoke;">
		              	<tbody>
		                	<tr>
		                		<td><input name="newPropertyNameInput" class="input-xlarge" type="text" ng-model="newProperty.name" ng-maxlength="50"/></td>
		                  		<td>
		                  			<div class="add-panel" style="margin-top: 0px;">
						  				<input name="newPropertyValueInput" class="input-xlarge" type="text" ng-model="newProperty.value" ng-maxlength="50"/>
						  				<button ng-click="addProperty(newModule)" ng-disabled="!newProperty.name || !newProperty.value">Add</button>
									</div>
		                  		</td>
		                	</tr>
		              	</tbody>
		            	</table>
						<div class="ng-invalid-maxlength-msg" ng-show="newPropertyForm.newPropertyValueInput.$error.maxlength">Property name is too long!</div> 
			    	</form>
			    	</pane>
					</tabs>
 				</div>
 				<div class="span1"></div>
			</div>

		</div>
		
	</div>
	<div class="span1"></div>
</div>