<html>
<head>
</head>
<body>
	
	<div class="whiteSmoke-base-panel">

		{{=|{ }|=}}

		<div ng-controller="EnviromentListCtrl" class="row-fluid" style="background-color: whiteSmoke;">
			<div class="span8 selector-multi-column">
			
				<div>
					<h3>Enviroments</h3>
				</div>
				
				<div class="selector-multi-column-scroll">
					<table>
						<tbody ng-repeat="enviroment in enviroments | orderBy:'name'" ng-click="showHide=!showHide">
							<tr>
								<td>
									<a>{{enviroment.name}}</a>
									<i class="icon-trash" style="float: right" ng-click="removeEnviroment(enviroment)" ></i>
								</td>
							</tr>
							<tr>
								<td fade="showHide">
									<span style="color: black">{{enviroment.description}}</span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>

			</div>
			<div class="span4 selector-multi-column" style="padding-left: 10px; padding-right: 10px;">
				
				<form name="newEnviromentForm" class="form-horizontal">
					<fieldset>
						<legend style="padding-top: 10px;">New Enviroment:</legend>
						<div class="control-group">
							<label class="control-label" style="width: 90px;">Name</label>
							<div class="controls" style="margin-left: 0px;">
								<input name="newEnviromentNameInput" type="text" class="input-large" placeholder="Name" ng-model="newEnviroment.name" ng-maxlength="20" />
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" style="width: 90px;">Description</label>
							<div class="controls" style="margin-left: 0px;">
								<textarea name="newEnviromentDescriptionInput" row="3" ng-model="newEnviroment.description" ng-maxlength="100"> </textarea>
							</div>
						</div>
						<div class="control-group">
							<div class="controls" style="margin-left: 0px;">
								 <button class="btn btn-primary" ng-click="addEnviroment(newEnviroment)" ng-disabled="!newEnviroment.name || !newEnviroment.description">Add</button>
							</div>
						</div>	
					</fieldset>				
				</form>

			</div>
		</div>
	</div>

</body>

</html>