<html>
<head>
</head>
<body>
	
	<div class="row-fluid">
		<div class="span1"></div>
		
		<div class="span10">
			{{> selector_panel}}
			{{> data_panel}}
		</div>
		
		<div class="span1"></div>
	</div>

</body>

</html>