{{=|{ }|=}}

<div class="row-fluid" style="background-color: whiteSmoke;" data-step="1" data-intro="Hi! This Property page, here you can add new Project and Modules and set there properties in the diferent enviroments">
	<div ng-controller="ProjectListCtrl" class="span12 selector-column" hide="selectedProject==null">
	

		<ul class="bookshelf-breadcrumb">
  			<li> <span class="breadcrumb-text"> Project: <span style="color: black; cursor:pointer;">{{selectedProject.name}}</span></span> <span class="divider">/</span> </li>
		</ul>

		<div class="selector-column-scroll">
			<table data-step="3" data-intro="You can select or unselect a Project/Module by clicking on the row">
				<tbody>
					<tr ng-repeat="project in projects | orderBy:'name'">
						<td ng-click="notifyAll('OnProjectSelect', project)" style="cursor:pointer;">
							<span>{{project.name}}</span>
							<i class="icon-trash" style="float: right" ng-click="removeProject(project)" ></i>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<form name="newProjectForm">
			<div class="selector-column-add" data-step="2" data-intro="Start adding a new project.">
  				<input name="newProjectNameInput" class="input-xlarge" type="text" ng-model="newProject.name" ng-maxlength="20"/>
  				<button ng-click="addProject(newProject)" ng-disabled="!newProject.name">Add</button>
			</div>
			<div class="ng-invalid-maxlength-msg" ng-show="newProjectForm.newProjectNameInput.$error.maxlength">Project name is too long!</div> 
		</form>

	</div>
	
	<div ng-controller="ModuleListCtrl" class="span12 selector-column" hide="project!=null">
		
		<ul class="bookshelf-breadcrumb">
  			<li> 
  				<span class="breadcrumb-text"> Project: <a ng-click="notifyAll('OnProjectUnload')" style="color: black; cursor:pointer; text-decoration:underline">{{project.name}}</a></span> 
  				<span class="divider">/</span>
  			</li>
  			<li>
  				<span class="breadcrumb-text"> Module: <span style="color: black; cursor:pointer;">{{selectedModule.name}}</span></span>
  			</li>
		</ul>

		<div class="selector-column-scroll">
			<table>
				<tbody>
					<tr ng-repeat="module in modules | orderBy:'name'">
						<td ng-click="notifyAll('OnModuleSelect', module)" style="cursor:pointer;">
							<span ng-class="{selected: module.id==selectedModule.id}">{{module.name}}</span>
							<i class="icon-trash" style="float: right" ng-click="removeModule(module)" ></i>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<form name="newModuleForm">
			<div class="selector-column-add">
  				<input name="newModuleNameInput" class="input-xlarge" type="text" ng-disabled="!project" ng-model="newModule.name" ng-maxlength="20"/>
  				<button ng-click="addModule(newModule)" ng-disabled="!newModule.name || !project">Add</button>
			</div>
			<div class="ng-invalid-maxlength-msg" ng-show="newModuleForm.newModuleNameInput.$error.maxlength">Module name is too long!</div> 
		</form>

	</div>

</div>