{{=|{ }|=}}

<div class="row-fluid">
	<div class="span12 white-base-panel">
		<div ng-controller="PropertyListCtrl">
			<h3>Properties:</h3>

			<hr />

			<div class="row-fluid">
 				<div class="span12" style="padding-left: 10px;" data-step="4" data-intro="In each tab you have the properties and there value, depending of the enviroment">
 					<form name="newPropertyForm">
 						<tabs>
							<pane ng-repeat="enviroment in enviroments" heading="{{enviroment.name}}" style="padding-top: 10px;">
								<span style="color: black; margin-left: 8px; font-weight: bold;">{{enviroment.description}}</span>
								<table class="table table-hover" style="margin-top: 10px;">
					              <tbody>
					                <tr ng-repeat="property in properties | orderBy:'name'">
					                	<td>{{property.name}}</td>
					                	<td>
					                		<i class="icon-link-small" style="cursor:pointer;" ui-if="parent.linkedProperties == true" ng-click="linkProperty(property.values[enviroment.name], property)" ></i>
					                		<i class="icon-unlink-small" style="cursor:pointer;" ui-if="property.values[enviroment.name].linkId != null" ng-click="unlinkProperty(property, enviroment)" ></i>

					                		<!-- If property is linked -->
					                		<span ui-if="property.values[enviroment.name].linkId != null" > {{property.values[enviroment.name].value}} </span>

											<!-- If property is not linked -->
					                		<a href="javascript:;" id="{{property.id}}-{{enviroment.name}}" ui-if="property.values[enviroment.name].linkId == null" data-name="{{property.id}}-{{enviroment.name}}" editable="true" data-type="text" style="border-bottom: 0px;" data-ng-model="property.values[enviroment.name].value" data-ng-save-action="property.$update()" data-showbuttons="true" data-original-title="Enter Value">{{property.values[enviroment.name].value}}</a>

					                		<i class="icon-trash" style="float: right" ng-click="removeProperty(property)" ></i> 
					                	</td>
					                </tr>
					                <tr style="background-color: whiteSmoke;" data-step="5" data-intro="When you create a property you can linked to the value of a common property, you can later edit this">
					                	<td>
					                		<input name="newPropertyNameInput" class="input-xlarge" type="text" ng-disabled="!parent" ng-model="newProperty.name" ng-maxlength="60"/>
					                	</td>
					                	<td>
					                		<div class="add-panel" style="margin-top: 0px;">
					                			
					                			<i class="icon-link" style="cursor:pointer;" ui-if="parent.linkedProperties == true" ng-click="linkProperty(newProperty)" ></i>
					                			<i class="icon-unlink" style="cursor:pointer;" ui-if="newProperty.linkId != null" ng-click="newProperty.linkId=null; newProperty.linkEnviromentId=null;" ></i>

									  			<input name="newPropertyValueInput" class="input-xxlarge" type="text" ng-disabled="!parent || newProperty.linkId!=null" ng-model="newProperty.value"/>
									  			<button ng-click="addProperty(newProperty, enviroment)" ng-disabled="!newProperty.name || !newProperty.value">Add</button>
											</div>
					                	</td>
					                </tr>
					                <tr class="row-borderless" style="background-color: whiteSmoke;">
					                	<td colspan="2">
					                		<div class="ng-invalid-maxlength-msg" ng-show="newPropertyForm.newPropertyValueInput.$error.maxlength">Property name is too long!</div> 
					                	</td>
					                </tr>
					              </tbody>
					            </table>
					    	</pane>
						</tabs>
 					</form>
 				</div>
			</div>

		</div>
		
	</div>
</div>

<!-- Properties Group Modal Selector -->

<div ng-controller="PropertiesGroupModalCtrl">
    <div modal="shouldBeOpen" close="close()" >
        <div class="modal-header">
            <h4>Property Link Selector</h4>
        </div>
        <div class="modal-body modal-body-ext">

        	<h5>Enviroments: </h5>
			<div class="btn-group">
				<button ng-repeat="enviroment in enviroments" ng-class="{btn: true, disabled: enviroment==selectedEnviroment}" ng-click="selectEnviroment(enviroment)">
					{{enviroment.name}}
				</button>
			</div>

			<div ng-repeat="(name, properties) in propertiesGroups" style="cursor:pointer;">
				<div class="row-fluid">
 					<div class="span12">
 						<h5>{{name}}</h5>
 					</div>
 				</div>
 				<div class="row-fluid row-grey" ng-repeat="property in properties | orderBy:'name'" ng-click="selectProperty(property)">
					<div class="span4">
						{{property.name}}
					</div>
					<div class="span8">
						{{property.values[selectedEnviroment.name].value}}
					</div>
 				</div>
 			</div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-inverse cancel" ng-click="close()">Cancel</button>
        </div>
    </div>
</div>