{{=|{ }|=}}

<div class="row-fluid" style="background-color: whiteSmoke;">
	<div ng-controller="ProjectListCtrl" class="span6 selector-column">
	
		<div>
			<h3>Projects</h3>
		</div>
		
		<div class="selector-column-scroll">
			<table>
				<tbody>
					<tr ng-repeat="project in projects | orderBy:'name'">
						<td ng-click="notifyAll('OnProjectSelect', project)">
							<span ng-class="{selected: project.id==selectedProject.id}">{{project.name}}</span>
							<i class="icon-remove-sign" style="float: right" ng-click="removeProject(project)" ></i>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<form name="newProjectForm">
			<div class="selector-column-add">
  				<input name="newProjectNameInput" class="input-xlarge" type="text" ng-model="newProject.name" ng-maxlength="20"/>
  				<button ng-click="addProject(newProject)" ng-disabled="!newProject.name">Add</button>
			</div>
			<div class="ng-invalid-maxlength-msg" ng-show="newProjectForm.newProjectNameInput.$error.maxlength">Project name is too long!</div> 
		</form>

	</div>
	<div ng-controller="ModuleListCtrl" class="span6 selector-column">
		
		<div>
			<h3>Modules</h3>
		</div>
		
		<div class="selector-column-scroll">
			<table>
				<tbody>
					<tr ng-repeat="module in modules | orderBy:'name'">
						<td ng-click="notifyAll('OnModuleSelect', module)">
							<span ng-class="{selected: module.id==selectedModule.id}">{{module.name}}</span>
							<i class="icon-remove-sign" style="float: right" ng-click="removeModule(module)" ></i>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<form name="newModuleForm">
			<div class="selector-column-add">
  				<input name="newModuleNameInput" class="input-xlarge" type="text" ng-disabled="!project" ng-model="newModule.name" ng-maxlength="20"/>
  				<button ng-click="addModule(newModule)" ng-disabled="!newModule.name || !project">Add</button>
			</div>
			<div class="ng-invalid-maxlength-msg" ng-show="newModuleForm.newModuleNameInput.$error.maxlength">Module name is too long!</div> 
		</form>

	</div>
</div>