{{=|{ }|=}}

<div class="row-fluid selector-panel">
	<div class="span1"></div>
	<div ng-controller="ProjectListCtrl" class="span5 selector-column">
	
		<div>
			<h3>Projects</h3>
		</div>
		
		<div class="selector-column-scroll">
			<table>
				<tbody>
					<tr ng-repeat="project in projects|orderBy:name">
						<td ng-click="notifyAll('OnProjectSelect', project); selectedProject = project;" ng-class="{selected: project==selectedProject}">
							{{project.name}}
							<i class="icon-remove-sign" style="float: right" ng-click="removeProject(project)" ></i>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<form name="newProjectForm">
			<div class="selector-column-add">
  				<input name="newProjectNameInput" class="span6" type="text" ng-model="newProject.name" ng-maxlength="20"/>
  				<button class="btn btn-primary" ng-click="addProject(newProject)" ng-disabled="!newProject.name">Add</button>
			</div>
			<div class="ng-invalid-maxlength-msg" ng-show="newProjectForm.newProjectNameInput.$error.maxlength">Project name is too long!</div> 
		</form>

	</div>
	<div ng-controller="ModuleListCtrl" class="span5 selector-column">
		
		<div>
			<h3>Modules</h3>
		</div>
		
		<div class="selector-column-scroll">
			<table>
				<tbody>
					<tr ng-repeat="module in modules|orderBy:name">
						<td> {{module.name}} </td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<form name="newModuleForm">
			<div class="selector-column-add">
  				<input name="newModuleNameInput" class="span6" type="text" ng-model="newModule.name" ng-maxlength="20"/>
  				<button class="btn btn-primary" ng-click="addModule(newModule)" ng-disabled="!newModule.name">Add</button>
			</div>
			<div class="ng-invalid-maxlength-msg" ng-show="newModuleForm.newModuleNameInput.$error.maxlength">Module name is too long!</div> 
		</form>

	</div>
	<div class="span1"></div>
</div>